footer{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
footer p{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}