<div>
  <header>
    HEADER
    <nav>
      <div>Nav Menu</div>
    </nav>
  </header>
  <main>
    <h1>CONTENT:</h1>
    <h2>List of expense income types</h2>
    @if(expenseIncomeTypes.length > 0){
    <div>
      <ul>
        @for(expenseIncomeType of expenseIncomeTypes; track $index){
        <li>1 {{ expenseIncomeType.abbreviation }}</li>
        }
      </ul>
    </div>
    } @else {
    <p>No data of expense income types</p>
    }
    <h2>List of investment types</h2>
    @if(investmentTypes.length > 0){
    <div>
      <ul>
        @for(investmentType of investmentTypes; track $index){
        <li>1 {{ investmentType.abbreviation }}</li>
        }
      </ul>
    </div>
    } @else {
    <p>No data of investment types</p>
    }
  </main>
  <footer>FOOTER</footer>
</div>
