<h1>Create template</h1>
<form method="POST" >
    <div>
        <h2>1. Add income</h2>
        <fieldset>
            <legend>Income values</legend>
        </fieldset>
    </div>
    <div>
        <h2>2. Add essential expenses</h2>
        <fieldset>
            <legend>Essential expenses values</legend>
        </fieldset>
    </div>
    <div>
        <h2>3. Add unnecesary expenses</h2>
        <fieldset>
            <legend>Unnecesary expenses values</legend>
        </fieldset>
    </div>
    <div>
        <h2>4. Saving</h2>
        <fieldset>
            <legend>Saving values</legend>
        </fieldset>
    </div>
    <div class="buttonFormContainer">
        <button>Save</button>
        <button type="button"><a href="/template">Cancel</a></button>
    </div>
</form>