<h1>{{template ? template.name : ""}}</h1>
<h2>Income</h2>
<table>
    <tr>
        <th>Income type</th>
        <th>From</th>
        <th>Date</th>
        <th>Value</th>
    </tr>
    @for(templateIncome of templateIncomes; track $index){
        <tr>
            <td>{{templateIncome.incomeTypeName}}</td>
            <td>{{templateIncome.from}}</td>
            <td>{{templateIncome.date}}</td>
            <td>{{templateIncome.value}}</td>
        </tr>
    }
</table>

@if(templateEssentialExpenses.length > 0){
<h2>Essential expenses</h2>
<table>
    <tr>
        <th>Expense type</th>
        <th>Date</th>
        <th>Value</th>
    </tr>
    @for(templateEssentialExpense of templateEssentialExpenses; track $index){
        <tr>
            <td>{{templateEssentialExpense.expenseTypeName}}</td>
            <td>{{templateEssentialExpense.date}}</td>
            <td>{{templateEssentialExpense.value}}</td>
        </tr>
    }
</table>
}

@if(templateUnnecesaryExpenses.length > 0){
<h2>Unnecesary expenses</h2>
<table>
    <tr>
        <th>Expense type</th>
        <th>Date</th>
        <th>Value</th>
    </tr>
    @for(templateUnnecesaryExpense of templateUnnecesaryExpenses; track $index){
        <tr>
            <td>{{templateUnnecesaryExpense.expenseTypeName}}</td>
            <td>{{templateUnnecesaryExpense.date}}</td>
            <td>{{templateUnnecesaryExpense.value}}</td>
        </tr>
    }
</table>
}

@if(templateSavings.length > 0){
<h2>Saving</h2>
<table>
    <tr>
        <th>Saving type</th>
        <th>Date</th>
        <th>Value</th>
    </tr>
    @for(templateSaving of templateSavings; track $index){
        <tr>
            <td>{{templateSaving.expenseTypeName}}</td>
            <td>{{templateSaving.date}}</td>
            <td>{{templateSaving.value}}</td>
        </tr>
    }
</table>
}
<div class="buttonFormContainer">
    <button type="button"><a [routerLink]="['/template']">Cancel</a></button>
</div>