body{
    margin: 0;
    padding: 0;
}
.centered{
    text-align: center;
}
.spaced-after{
    margin-bottom: 5px;
}
.buttonFormContainer{
    padding: 20px;
    text-align: center;
}
.buttonFormContainer button{
    margin: 5px;
    text-align: center;
}
.buttonFormContainer button a{
    text-decoration: none;
    color: black;
}